# Data Science Tools and Ecosystem

In the notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Pandas</li>
<li>Numpy</li>
<li>Matplotlib</li>
</ol>

|Data Science Tools  |
|--------------------|
| Tableau             |
| SAS              |
| Jupyter Notebook         |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to multiply then add integers.

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60.

In [6]:
200/60

3.3333333333333335

**Objectives:**

<ul>
<li>Popular languages for Data Scientist</li>
<li>Commonly used libraries for by Data Scientist</li>
<li>Data Science Tools</li>
</ul>

## Prakasham Pillay